<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Books</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <table border="1" align="center" width="100%" cellspacing="1">
            <thead><th>Book name</th><th>Author</th><th>Edit</th><th>Delete</th></thead>
            <tbody id="books-table">
            </tbody>
        </table>
        <div id="edit-book">
            <input class="open-add-book-form" type="button" value="Add new book">
            <form id="edit-book-form" name="" class="hide-form">
            </form>
        </div>
    </div>

    <script id="books-row-tpl" type="text/x-handlebars-template">
            <td>{{ title }}</td>
            <td>{{ author }}</td>
            <td><input type="button" value="Edit" class="edit-link" data-id="{{ title }}"></td>
            <td><input type="button" value="Delete" class="delete-link" data-id="{{ title }}"></td>
    </script>

    <script id="edit-book-form-tpl" type="text/x-handlebars-template">
        <h3>{{ formHeader }}</h3>
        <div>
            <p>Name:   </p><p><input type="text" name="bookTitle" required></p>
            <p>Author: </p><p><input type="text" name="bookAuthor" required></p>
        </div>
        <input type="submit" value="Save" name="save" class='save-btn'>
        <input type="reset" value="Cancel" name="cancel" class='cancel-btn'>
    </script>

    <script src="node_modules/underscore/underscore-min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/backbone/backbone-min.js"></script>
    <script src="node_modules/backbone.localstorage/backbone.localStorage-min.js"></script>
    <script src="node_modules/handlebars/dist/handlebars.min.js"></script>
    <script data-main="script" src="node_modules/requirejs/require.js"></script>

</body>
</html>