.container {
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
form h3 {
  text-align: center;
}
form div {
  margin: 0 auto;
  padding: 5px 0;
}
form p {
  width: 55%;
  display: inline-block;
  text-align: left;
}
form p:nth-child(odd) {
  width: 30%;
  text-align: right;
  padding: 0 15px;
}
form input[type="text"] {
  width: 300px;
  padding: 5px 10px;
  margin: 0 0 0 5px;
}
form input[type="submit"],
form input[type="reset"] {
  width: 100px;
  margin: 5px 0;
}
table {
  margin: 15px 0;
}
td {
  padding: 2px 0;
}

.error {
  color: red;
}

.hide-form {
  display: none;
}

.show-form {
  display: block;
}